* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container {
	height:100vh;
}

/* Div 1 */
.div-1 {
	display:flex;
}

.div-1 > .sub-div-1 {
	flex:1;
	display:flex;
	justify-content:center;
}

.sub-div-1 > .icon {
	font-size:35px;
	color:#1194FF;
	margin:20px 0 30px 0;
}

/* Div 2 */
.div-2 {
	display:flex;
}

.div-2 > .sub-div-2 {
	flex:1;
	display:flex;
	justify-content:center;
}

.div-2 > .sub-div-2 > h3 {
	font-family:Verdana;
}

/* Div 3 */
.div-3 {
	display:flex;
	justify-content:center;
}

.div-3 > .sub-div-3 {
	background:#F8f8f8;
	margin:20px 0 0 0;
	width:55%;
	height:50px;
	position:relative;
	border-bottom:1.5px solid #555;
}

.sub-div-3 > label {
	margin-left:7px;
	font-size:14px;
	font-family:helvetica;
	color:#787878;
}

.sub-div-3 > input {
	all:unset;
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	padding:9px 0 0 7px;
}

/* div 4 */
.div-4 {
	display:flex;
	justify-content:center;
}

.div-4 > .sub-div-4 {
	background:#f8f8f8;
	margin:20px 0 0 0;
	width:55%;
	height:50px;
	position:relative;
	border-bottom:1.5px solid #555;
}

.sub-div-4 > label {
	margin-left:7px;
	font-size:14px;
	font-family:helvetica;
	color:#787878;
}

.sub-div-4 > input {
	all:unset;
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	padding:9px 0 0 7px;
}

/* Five*/
.div-5 {
	display:flex;
}

.div-5 > .sub-div-5 {
	flex:1;
	display:flex;
	justify-content:center;
	margin-top:20px;
}

.div-5 > .sub-div-5 > button {
	all:unset;
	height:50px;
	width:56%;
	border-radius:29px;
	text-align:center;
	background:#1194FF;
	opacity:0.5;
	color:#FFF;
	font-weight:600;
	font-family:Verdana;
}

/* 
6
*/
.div-6 {
	display:flex;
}

.div-6 > .sub-div-6 {
	flex:1;
	display:flex;
	justify-content:center;
}

.div-6 > .sub-div-6 > a {
	text-decoration:none;
	color:#1194FF;
	font-size:14px;
	margin-top:20px;
	font-family:Verdana;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
	.div-3 > .sub-div-3,.div-4 > .sub-div-4 {
		width:85%;	
	}
	.div-5 > .sub-div-5 > button {
		width:85.5%;
	}

}
@media only screen and (max-width: 800px) and (min-width: 481px) {
	.div-3 > .sub-div-3,.div-4 > .sub-div-4 {
		width:70%;	
	}
	.div-5 > .sub-div-5 > button {
		width:71%;
	}

}